{% extends 'base.html' %}

{% block content %}
<h2>{{ poll.question }}</h2>
<form method="post">
    {% csrf_token %}
    {% for answer in poll.answers.all %}
    <div class="radio-option"> 
        <label for="answer{{ forloop.counter }}">{{ answer.answer }}<input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}"></label>
    </div>
    {% endfor %}
    <div class="button-container">
        <button type="submit">Vote</button>
    </div>
    <div class="button-container">
        <a class="btn" id="copyLinkButton">Copy</a>
    </div>
</form>
<script>
    document.getElementById('copyLinkButton').addEventListener('click', function() {
        var url = window.location.href;

        // Check if 'results' is in the URL and replace it with 'vote'
        if (url.includes("results")) {
            url = url.replace("results", "vote");
        }

        navigator.clipboard.writeText(url).then(function() {
            alert('Poll link copied to clipboard!');
        }, function(err) {
            console.error('Could not copy text: ', err);
        });
    });
</script>

{% endblock %}
